body {
    background-color:white;
    font-family: Arial;
    color: black;
    border: 0;
    padding: 0;
    margin: 0;  
}

h1{
    color: black;
    font-family: Verdana;
}

.header {
    font-size: 2rem;
    font-weight: bolder;
    /* background-color: rgb(225, 225, 225); */
    background-color: rgba(15, 85, 15, 0.783);
    text-align: center;
    padding-top: .9rem;
    padding-bottom: 0;
    color: rgba(255, 255, 255, 0.852);
    margin-right: 0;
    height:60px;
    /* display: inline; */
}

.maindiv {
    background-color: rgb(255, 255, 255);
    color: black;
    width: 20rem;
    height: 33rem;
    padding-top: 40px;
    font-size: 14px;

    border-radius: 25px;
    text-align: left;
    margin: auto;
    margin-top: 45px;
    margin-bottom: 15px;
    padding-left: 30px;
    
    border-style: solid;
    border-top-width: 20px;
    border-color: rgb(200, 200, 200);
    border-top-color: rgb(234, 153, 2);
    border-bottom-color: rgba(220, 4, 4, 0.715);
    border-bottom-width: 20px;
    box-shadow: 0px 20px 20px 10px rgba(120, 120, 120, 0.2);



}

.One {
    padding-bottom: 10px;
}

label {
    font-weight: bold;
}

input {
    border-width: 1px;
    border-radius: 4px;
    border-color: rgba(128, 128, 128, 0.954);
    box-shadow: 2px 2px 2px 2px rgba(139, 139, 139, 0.2);
    float: right;
    width: 150px;
    margin-right: 30px;
    height: 20px;
}

.positionOne {
    color: rgb(213, 2, 2);
    text-align: ce;
}
.positionTwo {
    color: rgb(213, 2, 2);

}

footer {
    text-align: center;
    color: black;
    margin-top: 0;
}
b {
    color: green;
}

hr {
    margin: 0 auto;
    padding: 0 auto;
    margin-left: -45px;
}

button {
    background-color: rgba(15, 85, 15, 0.783);
    color: white;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    border: none;
    text-align: center;
    font-weight: bolder;
    letter-spacing: 1.005px;
    font-size: 12px;
    float: right;
    margin-right: 30px;
}